.footer {
  color: #525252;
  width: 318px;
  height: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 67px;
  margin-left: 263px;
  margin-bottom: 60px;
}

@media screen and (max-width: 770px) {
  .footer {
  }
}

@media screen and (max-width: 410px) {
  .footer {
  }
}
