.footer {
  margin-top: 15px;
  margin-bottom: 60px;
}

.footer__copyright {
  color: #525252;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 880px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 770px) {
  .footer {
    margin-left: 100px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    margin-top: 48px;
    font-size: 14px;
    line-height: 17px;
    width: 282px;
    margin-left: 0;
  }
}
