.footer {
  color: #525252;
  width: 318px;
  height: 18px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 1139px;
  padding-left: 200px;
}
