@import url(../vendor/normalize.css);
@import url(../vendor/font.css);
@import url(../blocks/header.css);
@import url(../blocks/page.css);
@import url(../blocks/profile.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css);

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 62px;
    padding-right: 62px;
  }

  .profile__description {
    width: 100%;
    align-items: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
